<div>
  <h1 class="text-4xl font-bold bg-red-500">Este es el Home</h1>

  <ul class="flex flex-col w-1/2 gap-2 my-2 bg-green-400">
    <h2 class="m-2 bg-yellow-400">
      Si pongo "private" en el TS, Angular no me permite acceder a la variable
      desde el HTML
    </h2>
    <li *ngFor="let tarea of tareas">
      {{ tarea }}
    </li>
  </ul>

  <h2>
    En esta sección puedo usar Javascript puro, ejemplo 'hola'.repeat ==>
    <strong>{{ "Hola ".repeat(4) }}</strong>
  </h2>
</div>
<div>
  <h2 class="text-2xl bg-indigo-400">Cambios de estado:</h2>
  <div class="flex flex-col justify-center gap-5 p-10 m-5 bg-gray-400">
    <div class="flex flex-row gap-5">
      <input class="p-2 rounded-xl" type="text" [value]="name" />
      <button
        class="px-2 py-1 bg-purple-500 rounded-md"
        [disabled]="visibilidad"
      >
        Clickeame, amigo!
      </button>
    </div>
    <img [src]="img" alt="example" />
  </div>

  <div class="bg-orange-600">
    <h2 class="p-5 m-2 text-xl bg-yellow-300">
      Explicación de cómo entrar a un objeto definido en el TS:
    </h2>
    <p>
      Para acceder a un objeto definido en el TS, se debe hacer de la siguiente
      manera:
    </p>
    <p>
      Por ejemplo, si tengo un objeto llamado "persona" en el TS, para acceder a
      sus propiedades, debo hacer lo siguiente,
      <strong>encerrado con doble llave:</strong>
    </p>
    <div class="flex flex-row gap-2">
      <p>1- persona.nombre ==></p>
      <strong>{{ persona.nombre }}</strong>
    </div>
    <div class="flex flex-row gap-2">
      <p>2- persona.apellido ==></p>
      <strong>{{ persona.apellido }}</strong>
    </div>
    <div class="flex flex-row gap-2">
      <p>3- persona.edad ==></p>
      <strong>{{ persona.edad }}</strong>
    </div>
  </div>
  <div class="my-3 bg-yellow-300">
    <h2 class="text-2xl font-bold">MANEJO DE BINDING</h2>
    <p>
      El binding es el manejo de eventos (manejar un click o doble click, etc)
    </p>
    <p>
      Se utiliza los parentesis para manejar eventos, por ejemplo, si quiero
      manejar un click, debo hacer lo siguiente:
    </p>
    <p>
      <strong>1- button (click)="metodo()"</strong>
    </p>
    <p>Esta funcion se pone en el TS</p>
    <button class="p-2 bg-blue-500 rounded-md" (click)="clickHandler()">
      Clickeame
    </button>
    <hr />
    <p>Si quiero manejar un doble click, debo hacer lo siguiente:</p>
    <p>
      <strong>2- button (dblclick)="metodo()"</strong>
    </p>
    <p>Esta funcion se pone en el TS</p>
    <button class="p-2 bg-blue-500 rounded-md" (dblclick)="dblClickHandler()">
      Doble Clickeame
    </button>
  </div>
  <div class="bg-green-500">
    <h2>Changes con ChangeHandler</h2>
    <p>(change)</p>
    <input
      class="p-2 rounded-md"
      type="number"
      [value]="persona.edad"
      (change)="changeHandler($event)"
    />
    <hr />
    <h2>Changes con KEYDOWN</h2>
    <p>(keydown)</p>
    <input
      class="p-2 rounded-md"
      type="text"
      [value]="persona.nombre"
      (keydown)="keyDownHandler($event)"
    />
    <p class="font-bold text-red-500">
      La diferencia entre Change y keydown es que change hace efecto cuando hago
      desenfoque
    </p>
  </div>
</div>
<div class="bg-green-300">
  <h2 class="p-3 m-2 text-3xl font-bold text-center bg-red-500">
    ANGULAR SIGNAL
  </h2>
  <p>
    Angular tiene un sistema de señales que permite detectar cambios en las
    variables
  </p>
  <p>
    Para ello, se debe utilizar el signo de dolar y el nombre de la variable
    entre corchetes
  </p>
  <p>Esto es para cambios reales y online por ejemplo</p>
  <p>
    Por ejemplo, si tengo una variable llamada "name", para detectar cambios en
    ella, debo hacer lo siguiente:
  </p>
  <p>
    <strong>1- nacionalidad ==></strong>
    <strong>{{ nacionalidad() }}</strong>
  </p>
</div>
<div class="bg-yellow-500">
  <h2 class="p-3 m-2 text-3xl font-bold text-center bg-red-500">
    ANGULAR SIGNAL ARRAY
  </h2>
  <p>tengo que configurarlo en el TS</p>
  <div>
    <p>
      El total de tareas son <strong>{{ tasks().length }}</strong>
    </p>
    <li *ngFor="let task of tasks(); index as i">{{ i }} - {{ task }}</li>
  </div>
</div>
<div>
  <h2 class="p-3 m-2 text-3xl font-bold text-center bg-red-500">
    ANGULAR SIGNAL OBJECT
  </h2>
</div>
<div class="mt-5 bg-blue-300">
  <h2 class="p-3 m-2 text-3xl font-bold text-center bg-red-500">NgIF</h2>
  <p>ngIf es una directiva que permite mostrar o no un elemento</p>
  <p>Para ello, se debe utilizar la directiva ngIf</p>
  <p>Acá hago la transcripción de cómo aparece: * ngIf= "1==1"</p>
  <div class="flex gap-5 p-2 bg-red-200">
    <p>resultado:</p>
    <p class="bg-green-200" *ngIf="1 == 1">Este es un ejemplo de ngIf</p>
  </div>
  <p>En esta parte no aparecerá porque haré * ngIf= "1!==1"</p>
  <div class="flex gap-5 p-2 bg-red-200">
    <p>resultado:</p>
    <p class="bg-green-200" *ngIf="1 !== 1">Este es un ejemplo de ngIf</p>
  </div>
  <div>
    <p>Si quiero poner un bloque por defecto, debo hacer:</p>
    <p>ngIf="1==1; else elseBlock"</p>
    <p>ng-template #elseBlock</p>
    <p>Este es un bloque por defecto</p>
    <p>tambien se puede utilizar ngSwitch</p>
    <p>ngSwitch="variable"</p>
    <p>ngSwitchCase="1"</p>
    <p>ngSwitchDefault</p>

  </div>

</div>
<div class="my-3">
  <h2 class="p-3 text-2xl font-bold text-center bg-red-500">MANEJO DE INPUTS DE FORMULARIOS</h2>
  <p>Para manejar los inputs de un formulario, se debe hacer lo siguiente:</p>
  <p>Debo incorporar en el TS el ReactiveFormsModule y de FormControl de (arroba) angular/forms</p>
<div class="flex flex-col items-center justify-center p-5 m-5 border-2 border-black">

  <input type="color" [formControl]="colorCtrl">
  <p>color: {{ colorCtrl.value }}</p>
</div>
</div>
